@page "/"
@using RoadToSchmalz.Components
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager

<Div TextAlignment="TextAlignment.Center">
    <RoundDepthPicker @bind-RoundViewLevel="@RoundViewLevel" />
</Div>
@if (north_matchups != null
&& south_matchups != null
&& west_matchups != null
&& east_matchups != null)
{
    <Row Position="Position.Relative.Top.Is50.Translate.MiddleY">
    @{
            for (int r = RoundViewLevel; r < TOTAL_PREFINAL_ROUNDS; r++)
            {
                int r0 = r;
                var m_count = 0;
                var m_max = Math.Pow(2, TOTAL_PREFINAL_ROUNDS - r0 - 1);

                @if (IsMobile && r0 != RoundViewLevel)
                {
                    continue;
                }

                @if (r0 < CurrentRound)
                {
                    <Column>
                        <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                            @if (CurrentRound == 6)
                            {
                                @foreach (Data.Matchup matchup in north_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                if (r0 + 2 != CurrentRound)
                                {
                                    @foreach (Data.Matchup matchup in south_matchups[r0].matchups)
                                    {
                                        var _matchup = matchup;
                                        <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                        m_count++;
                                    }
                                }
                                @if (r0 != 0)
                                {
                                    for (int i = m_count; i < m_max; i++)
                                    {
                                        <Matchup />
                                    }
                                }
                            }
                            else if (CurrentRound == 5)
                            {
                                @foreach (Data.Matchup matchup in north_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                if (r0 + 1 != CurrentRound)
                                {
                                    @foreach (Data.Matchup matchup in south_matchups[r0].matchups)
                                    {
                                        var _matchup = matchup;
                                        <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                        m_count++;
                                    }
                                }
                                @if (r0 != 0)
                                {
                                    for (int i = m_count; i < m_max; i++)
                                    {
                                        <Matchup />
                                    }
                                }
                            }
                            else
                            {
                                @foreach (Data.Matchup matchup in north_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                @foreach (Data.Matchup matchup in south_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                @if (r0 != 0)
                                {
                                    for (int i = m_count; i < m_max; i++)
                                    {
                                        <Matchup />
                                    }
                                }
                            }

                        </Div>
                    </Column>
                }
                else
                {
                    if (!IsMobile)
                    {
                        <Column>
                            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                                @for (int i = 0; i < m_max; i++)
                                {
                                    <Matchup />
                                }
                            </Div>
                        </Column>
                    }
                }
            }
        }

        <Column TextAlignment="TextAlignment.Center">
            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                @if ((IsMobile && RoundViewLevel == 5) || (!IsMobile))
                {
                    <FinalsTeam Data="@west_matchups.Last().matchups.Last()" Round="@(RoundViewLevel + 1)"
                        Conference="@Data.Divisions.CONFERENCE.WEST" />
                }

                <Figure Size="@PjhlLogoSize">
                    <FigureImage Source="logos/playoffs.png" />
                </Figure>
                @if ((IsMobile && RoundViewLevel == 5) || (!IsMobile))
                {
                    <FinalsTeam Data="@east_matchups.Last().matchups.Last()" Round="@(RoundViewLevel + 1)"
                        Conference="@Data.Divisions.CONFERENCE.EAST" />
                }
            </Div>
        </Column>

        @{
            for (int r = TOTAL_PREFINAL_ROUNDS - 1; r >= RoundViewLevel; r--)
            {
                int r0 = r;
                var m_count = 0;
                var m_max = Math.Pow(2, TOTAL_PREFINAL_ROUNDS - r0 - 1);

                @if (IsMobile && r0 != RoundViewLevel)
                {
                    continue;
                }

                @if (r0 >= CurrentRound)
                {
                    if (!IsMobile)
                    {
                        <Column>
                            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                                @for (int i = 0; i < m_max; i++)
                                {
                                    <Matchup />
                                }
                            </Div>
                        </Column>
                    }
                }
                else
                {
                    if (CurrentRound == 6)
                    {
                        <Column>
                            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                                @if (r0 + 2 != CurrentRound)
                                {
                                    @foreach (Data.Matchup matchup in east_matchups[r0].matchups)
                                    {
                                        var _matchup = matchup;
                                        <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                        m_count++;
                                    }
                                }
                                @foreach (Data.Matchup matchup in west_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                @if (r0 != 0)
                                {
                                    for (int i = m_count; i < m_max; i++)
                                    {
                                        <Matchup />
                                    }
                                }
                            </Div>
                        </Column>
                    }
                    else if (CurrentRound == 5)
                    {
                        <Column>
                            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                                @if (r0 + 1 != CurrentRound)
                                {
                                    @foreach (Data.Matchup matchup in east_matchups[r0].matchups)
                                    {
                                        var _matchup = matchup;
                                        <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                        m_count++;
                                    }
                                }
                                @foreach (Data.Matchup matchup in west_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                @if (r0 != 0)
                                {
                                    for (int i = m_count; i < m_max; i++)
                                    {
                                        <Matchup />
                                    }
                                }
                            </Div>
                        </Column>
                    }
                    else
                    {
                        <Column>
                            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                                @foreach (Data.Matchup matchup in east_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                @foreach (Data.Matchup matchup in west_matchups[r0].matchups)
                                {
                                    var _matchup = matchup;
                                    <Matchup Data="@_matchup" Round="@(RoundViewLevel + 1)" />
                                    m_count++;
                                }
                                @if (r0 != 0)
                                {
                                    for (int i = m_count; i < m_max; i++)
                                    {
                                        <Matchup />
                                    }
                                }
                            </Div>
                        </Column>
                    }
                }
            }
        }
    </Row>
}