@page "/"
@using RoadToSchmalz.Components
@using RoadToSchmalz.Api
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager

@if (north_matchups != null
&& south_matchups != null
&& west_matchups != null
&& east_matchups != null)
{
    <Row Position="Position.Relative.Top.Is50.Translate.MiddleY">
        @{
            for (int r = RoundViewLevel; r < TOTAL_PREFINAL_ROUNDS; r++)
            {
                int r0 = r;
                @if (r0 < CurrentRound)
                {
                    <Column>
                        <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                            @foreach (Data.Matchup matchup in north_matchups[r0].matchups)
                            {
                                var _matchup = matchup;
                                <Matchup Data="@_matchup" />
                            }
                            @foreach (Data.Matchup matchup in south_matchups[r0].matchups)
                            {
                                var _matchup = matchup;
                                <Matchup Data="@_matchup" />
                            }
                        </Div>
                    </Column>
                }
                else
                {
                    if (!IsMobile)
                    {
                        <Column>
                            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                                @for (int i = 0; i < Math.Pow(2, TOTAL_PREFINAL_ROUNDS - r0 - 1); i++)
                                {
                                    <Matchup />
                                }
                            </Div>
                        </Column>
                    }
                }
            }
        }

        <Column TextAlignment="TextAlignment.Center">
            @if (IsMobile)
            {
            }
            else
            {
                <RoundDepthPicker @bind-RoundViewLevel="@RoundViewLevel" />
            }
@*
            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                <Image Source="logos/playoffs.png" Width="Width.Is100" />
            </Div>
*@
            <Figure Size="@PjhlLogoSize" Position="Position.Relative.Top.Is50.Translate.MiddleY">
                <FigureImage Source="logos/playoffs.png" />
            </Figure>
        </Column>

        @{
            for (int r = TOTAL_PREFINAL_ROUNDS - 1; r >= RoundViewLevel; r--)
            {
                int r0 = r;
                @if (r0 >= CurrentRound)
                {
                    if (!IsMobile)
                    {
                        <Column>
                            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                                @for (int i = 0; i < Math.Pow(2, TOTAL_PREFINAL_ROUNDS - r0 - 1); i++)
                                {
                                    <Matchup />
                                }
                            </Div>
                        </Column>
                    }
                }
                else
                {
                    <Column>
                        <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                            @foreach (Data.Matchup matchup in east_matchups[r0].matchups)
                            {
                                var _matchup = matchup;
                                <Matchup Data="@_matchup" />
                            }
                            @foreach (Data.Matchup matchup in west_matchups[r0].matchups)
                            {
                                var _matchup = matchup;
                                <Matchup Data="@_matchup" />
                            }
                        </Div>
                    </Column>
                }
            }
        }
    </Row>
}

@code {

    private const int TOTAL_PREFINAL_ROUNDS = 5;

    private int RoundViewLevel { get; set; } = 0;
    private int CurrentRound {get; set;} = 0;

    private FigureSize PjhlLogoSize = FigureSize.Is128x128;

    private List<Data.Matchups>? north_matchups { get; set; } = null;
    private List<Data.Matchups>? east_matchups { get; set; } = null;
    private List<Data.Matchups>? west_matchups { get; set; } = null;
    private List<Data.Matchups>? south_matchups { get; set; } = null;

    private bool IsMobile { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await RoadToSchmalz.Api.Matchups.Instance().FetchData();
        try
        {
            IsMobile = await JSRuntime.InvokeAsync<bool>("isDevice");
        }
        catch (JSDisconnectedException exc)
        {
            Console.WriteLine("Warning: JS Disconnect");
            IsMobile = false;
        }

        // Reminder: the order of these matter
        SetMatchups();
        SetCurrentRound();
        SetRoundView();
        SetPjhlLogoSize();
    }

    private void SetMatchups()
    {
        var Inst = Matchups.Instance();
        north_matchups = Inst.GetMatchups(Data.Divisions.DIVISION.CARRUTHERS);
        north_matchups[0].matchups.AddRange(Inst.GetMatchups(Data.Divisions.DIVISION.POLLOCK)[0].matchups);

        east_matchups = Inst.GetMatchups(Data.Divisions.DIVISION.ORR);
        east_matchups[0].matchups.AddRange(Inst.GetMatchups(Data.Divisions.DIVISION.TOD)[0].matchups);

        west_matchups = Inst.GetMatchups(Data.Divisions.DIVISION.STOBBS);
        west_matchups[0].matchups.AddRange(Inst.GetMatchups(Data.Divisions.DIVISION.YECK)[0].matchups);

        south_matchups = Inst.GetMatchups(Data.Divisions.DIVISION.BLOOMFIELD);
        south_matchups[0].matchups.AddRange(Inst.GetMatchups(Data.Divisions.DIVISION.DOHERTY)[0].matchups);
    }

    private void SetRoundView()
    {
        Uri uri = new Uri(navManager.Uri);
        string? rvStr = System.Web.HttpUtility.ParseQueryString(uri.Query).Get("rv");
        int roundViewLevel = CurrentRound - 1;
        if (!string.IsNullOrEmpty(rvStr) && int.TryParse(rvStr, out roundViewLevel))
        {
            // must be between 0 and 5
            roundViewLevel = Math.Min(roundViewLevel, TOTAL_PREFINAL_ROUNDS);
            roundViewLevel = Math.Max(roundViewLevel, 0);
        }
        RoundViewLevel = roundViewLevel;
    }

    private void SetCurrentRound()
    {
        var rounds = new[]{north_matchups.Count(), east_matchups.Count(), west_matchups.Count(), south_matchups.Count()};
        CurrentRound = rounds.Min();
    }

    private void SetPjhlLogoSize()
    {
        PjhlLogoSize = IsMobile ? FigureSize.Is96x96 : FigureSize.Is128x128;
    }
}